In [4]:
#This is an example of using the Medical Expenditure Panel Survey (MEPS), a longitudinal data set from
#2019-22 in Python. The file was too big to automatically import in SQL, so I began the project in Python to reduce
#the file size and keep only the required columns for data analysis.

import pandas as pd
import numpy as np

# Define file paths
input_file = "/content/meps19_22.csv"  # Update if needed
output_file = "/content/meps19_22_clean.csv"

# Define columns to keep
columns_to_keep = [
    "DUPERSID", "AGEY1X", "AGEY2X", "AGEY3X", "AGEY4X",
    "FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4",
    "TOTEXPY1", "TOTEXPY2", "TOTEXPY3", "TOTEXPY4",
    "TOTSLFY1", "TOTSLFY2", "TOTSLFY3", "TOTSLFY4",
    "OBTOTVY1", "OBTOTVY2", "OBTOTVY3", "OBTOTVY4",
    "ERTOTY1", "ERTOTY2", "ERTOTY3", "ERTOTY4",
    "IPDISY1", "IPDISY2", "IPDISY3", "IPDISY4",
    "RXEXPY1", "RXEXPY2", "RXEXPY3", "RXEXPY4",
    "INSURCY1", "INSURCY2", "INSURCY3", "INSURCY4",
    "LONGWT"
]

# Load dataset
df = pd.read_csv(input_file, usecols=columns_to_keep)

# âœ… Recode Insurance Groups (Public, Private, Uninsured)
def recode_insurance(value):
    if value in [1]:
        return "Private"
    elif value in [2, 4, 5, 6]:
        return "Public"
    elif value in [3, 7, 8]:
        return "Uninsured"
    else:
        return None

for year in range(1, 5):
    df[f"INSUR_GROUPY{year}"] = df[f"INSURCY{year}"].apply(recode_insurance)

# Recode Income into Groups
income_bins = [0, 25000, 50000, 75000, 100000, float("inf")]
income_labels = ["Low (<25K)", "Lower-Middle (25K-50K)", "Middle (50K-75K)", "Upper-Middle (75K-100K)", "High (>100K)"]

for year in range(1, 5):
    df[f"INCOME_GROUPY{year}"] = pd.cut(df[f"FAMINCY{year}"], bins=income_bins, labels=income_labels)

# Recode Age into Groups
age_bins = [0, 18, 35, 50, 65, float("inf")]
age_labels = ["0-17", "18-34", "35-49", "50-64", "65+"]

for year in range(1, 5):
    df[f"AGE_GROUPY{year}"] = pd.cut(df[f"AGEY{year}X"], bins=age_bins, labels=age_labels)

# Replace -1 values with NaN for missing data
df.replace(-1, np.nan, inplace=True)

# Save cleaned dataset
df.to_csv(output_file, index=False)
print(f"âœ… Cleaned dataset saved as: {output_file}")

# Check for missing values
print("\nMissing Values Summary:\n", df.isna().sum())



#Note: Most variables have missing values (-1) and the data is in wide format.
#We'll address this in the next section.

âœ… Cleaned dataset saved as: /content/meps19_22_clean.csv

Missing Values Summary:
 DUPERSID            0
AGEY1X            233
AGEY2X            321
AGEY3X            363
AGEY4X            381
FAMINCY1          113
FAMINCY2          233
FAMINCY3          310
FAMINCY4          343
INSURCY1          113
INSURCY2          233
INSURCY3          310
INSURCY4          343
TOTEXPY1          113
TOTEXPY2          233
TOTEXPY3          310
TOTEXPY4          343
TOTSLFY1          113
TOTSLFY2          233
TOTSLFY3          310
TOTSLFY4          343
OBTOTVY1          113
OBTOTVY2          233
OBTOTVY3          310
OBTOTVY4          343
ERTOTY1           113
ERTOTY2           233
ERTOTY3           310
ERTOTY4           343
IPDISY1           113
IPDISY2           233
IPDISY3           310
IPDISY4           343
RXEXPY1           113
RXEXPY2           233
RXEXPY3           310
RXEXPY4           343
LONGWT              0
INSUR_GROUPY1     113
INSUR_GROUPY2     233
INSUR_GROUPY3     310
INSUR_GROUPY4     343
INCOME_GROUPY1    301
INCOME_GROUPY2    432
INCOME_GROUPY3    563
INCOME_GROUPY4    598
AGE_GROUPY1       269
AGE_GROUPY2       354
AGE_GROUPY3       400
AGE_GROUPY4       413
dtype: int64

In [5]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = "/content/meps19_22_clean.csv"
df = pd.read_csv(file_path)

# Identify categorical and continuous variables
categorical_cols = ["INSURCY1", "INSURCY2", "INSURCY3", "INSURCY4"]
continuous_cols = [
    "AGEY1X", "AGEY2X", "AGEY3X", "AGEY4X",
    "FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4",
    "TOTEXPY1", "TOTEXPY2", "TOTEXPY3", "TOTEXPY4",
    "TOTSLFY1", "TOTSLFY2", "TOTSLFY3", "TOTSLFY4",
    "OBTOTVY1", "OBTOTVY2", "OBTOTVY3", "OBTOTVY4",
    "ERTOTY1", "ERTOTY2", "ERTOTY3", "ERTOTY4",
    "IPDISY1", "IPDISY2", "IPDISY3", "IPDISY4",
    "RXEXPY1", "RXEXPY2", "RXEXPY3", "RXEXPY4",
    "LONGWT"
]

# Check for missing (-1) values
missing_values = (df == -1).sum()
print("\nColumns with missing values:\n", missing_values[missing_values > 0])

# Count rows with at least one missing (-1) value
rows_with_neg1 = (df == -1).any(axis=1).sum()
total_rows = len(df)
percent_removed = (rows_with_neg1 / total_rows) * 100

print(f"\nTotal rows in dataset: {total_rows}")
print(f"Rows with at least one -1: {rows_with_neg1}")
print(f"Percentage of dataset that would be removed: {percent_removed:.2f}%")

# Check missingness for categorical and continuous variables separately
missing_categorical = df[categorical_cols].isin([-1]).any(axis=1).sum()
missing_continuous = df[continuous_cols].isin([-1]).any(axis=1).sum()

print(f"\nCases with missing categorical variables: {missing_categorical}")
print(f"Cases with missing continuous variables: {missing_continuous}")

# **Final Decision Printout**
print(f"\nIf we remove rows with missing categorical data, we will lose {missing_categorical} cases.")
print(f"If we impute continuous variables, we will retain {total_rows - missing_categorical} cases.")

# Next Step: Proceed with Hybrid Approach (Dropping categorical missing cases & imputing continuous ones)


#If we removing cases with missing data, we would lose about 9% of the data.
#We could go with complete case analysis here but we will do a hybrid approach
#to impute continiuous variables and remove categorical variables with missing data.

Columns with missing values:
 Series([], dtype: int64)

Total rows in dataset: 5565
Rows with at least one -1: 0
Percentage of dataset that would be removed: 0.00%

Cases with missing categorical variables: 0
Cases with missing continuous variables: 0

If we remove rows with missing categorical data, we will lose 0 cases.
If we impute continuous variables, we will retain 5565 cases.

In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer  # Required for Google Colab
from sklearn.impute import IterativeImputer

# Replace -1 values with NaN for imputation
df.replace(-1, np.nan, inplace=True)

# Identify categorical and continuous variables
categorical_cols = ["INSURCY1", "INSURCY2", "INSURCY3", "INSURCY4"]
continuous_cols = [
    "AGEY1X", "AGEY2X", "AGEY3X", "AGEY4X",
    "FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4",
    "TOTEXPY1", "TOTEXPY2", "TOTEXPY3", "TOTEXPY4",
    "TOTSLFY1", "TOTSLFY2", "TOTSLFY3", "TOTSLFY4",
    "OBTOTVY1", "OBTOTVY2", "OBTOTVY3", "OBTOTVY4",
    "ERTOTY1", "ERTOTY2", "ERTOTY3", "ERTOTY4",
    "IPDISY1", "IPDISY2", "IPDISY3", "IPDISY4",
    "RXEXPY1", "RXEXPY2", "RXEXPY3", "RXEXPY4",
    "LONGWT"
]

# **Step 1: Drop Rows with Missing Categorical Variables**
df = df.dropna(subset=categorical_cols)

# **Step 2: Impute Continuous Variables Using Regression-Based Imputation**
def regression_impute(df, target, predictors):
    """Impute missing values using Linear Regression."""
    df_nonmissing = df.dropna(subset=[target] + predictors)
    df_missing = df[df[target].isna()]

    if df_missing.empty:
        return df[target]  # No missing values to impute

    model = LinearRegression()
    model.fit(df_nonmissing[predictors], df_nonmissing[target])
    df.loc[df[target].isna(), target] = model.predict(df_missing[predictors])
    return df[target]

# Apply regression imputation for key continuous variables
for col in continuous_cols:
    predictors = [c for c in continuous_cols if c != col and df[c].notna().all()]
    df[col] = regression_impute(df, col, predictors)

# **Step 3: Multiple Imputation for Remaining Continuous Variables**
imputer = IterativeImputer(max_iter=10, random_state=42)
df[continuous_cols] = imputer.fit_transform(df[continuous_cols])

# Convert categorical variables back to integer format
df[categorical_cols] = df[categorical_cols].astype(int)

# Save final cleaned dataset
output_file = "/content/meps19_22_hybrid_clean.csv"
df.to_csv(output_file, index=False)

print(f"\nFinal hybrid-cleaned dataset saved as: {output_file}")

# Display basic dataset information
print("\nDataset Shape:", df.shape)  # Number of rows & columns
print("\nFirst 5 Rows:\n", df.head())  # Preview first few rows

# Check if there are any remaining missing values in the income variables
print("\nMissing values after imputation:")
print(df[["FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4"]].isna().sum())

# Check if any income values are still exactly 0 (since 0 could mean missing or legitimate response)
zero_income_count = (df[["FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4"]] == 0).sum().sum()
print(f"\nCases where income is exactly 0: {zero_income_count}")

# If needed, replace remaining NaNs with the median income value for each year
for col in ["FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4"]:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)

# Re-check to confirm no missing income
print("\nFinal check for missing income values:")
print(df[["FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4"]].isna().sum())

# Check if people with 0 income are students, dependents, or elderly
df[df["FAMINCY1"] == 0].head(20)

#Zero's appear to be valid.

# Display dataset summary again
print("\nDataset Shape:", df.shape)  # Number of rows & columns
print("\nFirst 5 Rows:\n", df.head())

<ipython-input-6-c8b755243e7c>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = regression_impute(df, col, predictors)
<ipython-input-6-c8b755243e7c>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = regression_impute(df, col, predictors)

Final hybrid-cleaned dataset saved as: /content/meps19_22_hybrid_clean.csv

Dataset Shape: (5108, 50)

First 5 Rows:
      DUPERSID  AGEY1X  AGEY2X  AGEY3X  AGEY4X  FAMINCY1  FAMINCY2  FAMINCY3  \
0  2460002101    74.0    75.0    76.0    77.0   13200.0   15500.0   10200.0
1  2460006101    61.0    62.0    63.0    64.0   46196.0   44080.0   25788.0
2  2460006102    64.0    65.0    66.0    67.0   46196.0   44080.0   25788.0
3  2460010101    26.0    27.0    28.0    29.0   25550.0  136334.0  101533.0
5  2460018101    48.0    49.0    50.0    51.0   25483.0   32060.0   36000.0

   FAMINCY4  INSURCY1  ...  INSUR_GROUPY3  INSUR_GROUPY4  \
0   22000.0         6  ...         Public         Public
1    5000.0         2  ...         Public         Public
2   30740.0         1  ...         Public         Public
3  106483.0         1  ...        Private        Private
5   45000.0         1  ...        Private        Private

           INCOME_GROUPY1          INCOME_GROUPY2          INCOME_GROUPY3  \
0              Low (<25K)              Low (<25K)              Low (<25K)
1  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)
2  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)
3  Lower-Middle (25K-50K)            High (>100K)            High (>100K)
5  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)

           INCOME_GROUPY4  AGE_GROUPY1  AGE_GROUPY2  AGE_GROUPY3  AGE_GROUPY4
0              Low (<25K)          65+          65+          65+          65+
1              Low (<25K)        50-64        50-64        50-64        50-64
2  Lower-Middle (25K-50K)        50-64        50-64          65+          65+
3            High (>100K)        18-34        18-34        18-34        18-34
5  Lower-Middle (25K-50K)        35-49        35-49        35-49        50-64

[5 rows x 50 columns]

Missing values after imputation:
FAMINCY1    0
FAMINCY2    0
FAMINCY3    0
FAMINCY4    0
dtype: int64

Cases where income is exactly 0: 839

Final check for missing income values:
FAMINCY1    0
FAMINCY2    0
FAMINCY3    0
FAMINCY4    0
dtype: int64

Dataset Shape: (5108, 50)

First 5 Rows:
      DUPERSID  AGEY1X  AGEY2X  AGEY3X  AGEY4X  FAMINCY1  FAMINCY2  FAMINCY3  \
0  2460002101    74.0    75.0    76.0    77.0   13200.0   15500.0   10200.0
1  2460006101    61.0    62.0    63.0    64.0   46196.0   44080.0   25788.0
2  2460006102    64.0    65.0    66.0    67.0   46196.0   44080.0   25788.0
3  2460010101    26.0    27.0    28.0    29.0   25550.0  136334.0  101533.0
5  2460018101    48.0    49.0    50.0    51.0   25483.0   32060.0   36000.0

   FAMINCY4  INSURCY1  ...  INSUR_GROUPY3  INSUR_GROUPY4  \
0   22000.0         6  ...         Public         Public
1    5000.0         2  ...         Public         Public
2   30740.0         1  ...         Public         Public
3  106483.0         1  ...        Private        Private
5   45000.0         1  ...        Private        Private

           INCOME_GROUPY1          INCOME_GROUPY2          INCOME_GROUPY3  \
0              Low (<25K)              Low (<25K)              Low (<25K)
1  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)
2  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)
3  Lower-Middle (25K-50K)            High (>100K)            High (>100K)
5  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)  Lower-Middle (25K-50K)

           INCOME_GROUPY4  AGE_GROUPY1  AGE_GROUPY2  AGE_GROUPY3  AGE_GROUPY4
0              Low (<25K)          65+          65+          65+          65+
1              Low (<25K)        50-64        50-64        50-64        50-64
2  Lower-Middle (25K-50K)        50-64        50-64          65+          65+
3            High (>100K)        18-34        18-34        18-34        18-34
5  Lower-Middle (25K-50K)        35-49        35-49        35-49        50-64

[5 rows x 50 columns]

In [7]:
 # Prepare data for SQL and Tableau
# Data Transformation (Wide â†’ Long Format)

import pandas as pd

# Display the first few rows of dataset in wide format (Before Transformation)
print("ðŸ”¹ Wide Format (Before Transformation):")
display(df.head())

# Check summary statistics before transformation
print("\nðŸ”¹ Summary Statistics (Before Transformation):")
print(df.describe())

# Convert from wide to long format for expenditures, income, and insurance variables
df_long = df.melt(id_vars=["DUPERSID", "LONGWT"],
                  value_vars=[
                      "AGEY1X", "AGEY2X", "AGEY3X", "AGEY4X",
                      "FAMINCY1", "FAMINCY2", "FAMINCY3", "FAMINCY4",
                      "TOTEXPY1", "TOTEXPY2", "TOTEXPY3", "TOTEXPY4",
                      "TOTSLFY1", "TOTSLFY2", "TOTSLFY3", "TOTSLFY4",
                      "OBTOTVY1", "OBTOTVY2", "OBTOTVY3", "OBTOTVY4",
                      "ERTOTY1", "ERTOTY2", "ERTOTY3", "ERTOTY4",
                      "IPDISY1", "IPDISY2", "IPDISY3", "IPDISY4",
                      "RXEXPY1", "RXEXPY2", "RXEXPY3", "RXEXPY4",
                      "INSURCY1", "INSURCY2", "INSURCY3", "INSURCY4"
                  ],
                  var_name="Variable", value_name="Value")

# Extract Year from variable names (e.g., "TOTEXPY1" â†’ 2019)
df_long["Year"] = df_long["Variable"].str.extract("(\d+)").astype(int) + 2018
df_long["Variable"] = df_long["Variable"].str.replace(r'Y\d+', '', regex=True)

# Pivot table to keep variables as separate columns
df_pivot = df_long.pivot(index=["DUPERSID", "Year", "LONGWT"], columns="Variable", values="Value").reset_index()

# Rename columns for clarity
df_pivot.rename(columns={
    "AGEX": "Age",
    "FAMINC": "Income",
    "TOTEXP": "Total_Expenditure",
    "TOTSLF": "Total_Self_Pay",
    "OBTOTV": "Outpatient_Visits",
    "ERTOT": "ER_Visits",
    "IPDIS": "Hospital_Stays",
    "RXEXP": "Prescription_Costs",
    "INSURC": "Insurance_Status"
}, inplace=True)

# Merge Re-coded Insurance Group
insurance_long = df.melt(id_vars=["DUPERSID"],
                          value_vars=["INSUR_GROUPY1", "INSUR_GROUPY2", "INSUR_GROUPY3", "INSUR_GROUPY4"],
                          var_name="Year", value_name="Insurance_Group")

# Extract Year from Insurance Group columns
insurance_long["Year"] = insurance_long["Year"].str.extract("(\d+)").astype(int) + 2018

# Merge Insurance Group into the long-format dataset
df_pivot = df_pivot.merge(insurance_long, on=["DUPERSID", "Year"], how="left")

# Display the first few rows of dataset in long format (After Transformation)
print("\nðŸ”¹ Long Format (After Transformation):")
display(df_pivot.head())

# Check summary statistics after transformation
print("\nðŸ”¹ Summary Statistics (After Transformation):")
print(df_pivot.describe())

# Ensure transformation was successful
print("\nðŸ”¹ Unique Years in Transformed Data:", df_pivot["Year"].unique())
print("\nðŸ”¹ Number of Rows After Transformation:", df_pivot.shape[0])

# Check if values are still intact after transformation
print("\nðŸ”¹ Checking Total Expenditure & Income Before and After Transformation:")
print("Before Transformation (Wide Format):")
print(df[["TOTEXPY1", "TOTEXPY2", "TOTEXPY3", "TOTEXPY4"]].describe())  # Summary before transformation
print("\nAfter Transformation (Long Format):")
print(df_pivot[["Total_Expenditure", "Income"]].describe())  # Summary after transformation

# Save the transformed dataset
output_file = "/content/meps19_22_long.csv"
df_pivot.to_csv(output_file, index=False)

print(f"\nðŸ“‚ Transformed long-format dataset saved as: {output_file}")

ðŸ”¹ Wide Format (Before Transformation):

,DUPERSID,AGEY1X,AGEY2X,AGEY3X,AGEY4X,FAMINCY1,FAMINCY2,FAMINCY3,FAMINCY4,INSURCY1,...,INSUR_GROUPY3,INSUR_GROUPY4,INCOME_GROUPY1,INCOME_GROUPY2,INCOME_GROUPY3,INCOME_GROUPY4,AGE_GROUPY1,AGE_GROUPY2,AGE_GROUPY3,AGE_GROUPY4
0,2460002101,74.0,75.0,76.0,77.0,13200.0,15500.0,10200.0,22000.0,6,...,Public,Public,Low (<25K),Low (<25K),Low (<25K),Low (<25K),65+,65+,65+,65+
1,2460006101,61.0,62.0,63.0,64.0,46196.0,44080.0,25788.0,5000.0,2,...,Public,Public,Lower-Middle (25K-50K),Lower-Middle (25K-50K),Lower-Middle (25K-50K),Low (<25K),50-64,50-64,50-64,50-64
2,2460006102,64.0,65.0,66.0,67.0,46196.0,44080.0,25788.0,30740.0,1,...,Public,Public,Lower-Middle (25K-50K),Lower-Middle (25K-50K),Lower-Middle (25K-50K),Lower-Middle (25K-50K),50-64,50-64,65+,65+
3,2460010101,26.0,27.0,28.0,29.0,25550.0,136334.0,101533.0,106483.0,1,...,Private,Private,Lower-Middle (25K-50K),High (>100K),High (>100K),High (>100K),18-34,18-34,18-34,18-34
5,2460018101,48.0,49.0,50.0,51.0,25483.0,32060.0,36000.0,45000.0,1,...,Private,Private,Lower-Middle (25K-50K),Lower-Middle (25K-50K),Lower-Middle (25K-50K),Lower-Middle (25K-50K),35-49,35-49,35-49,50-64

ðŸ”¹ Summary Statistics (Before Transformation):
           DUPERSID       AGEY1X       AGEY2X       AGEY3X       AGEY4X  \
count  5.108000e+03  5108.000000  5108.000000  5108.000000  5108.000000
mean   2.464977e+09    42.777801    43.761942    44.745301    45.722795
std    2.775123e+06    23.145275    23.119997    23.089467    23.056092
min    2.460002e+09     0.000000     1.000000     2.000000     3.000000
25%    2.462574e+09    24.000000    25.000000    26.000000    27.000000
50%    2.465142e+09    45.000000    46.000000    47.000000    48.000000
75%    2.467407e+09    62.000000    63.000000    64.000000    65.000000
max    2.469683e+09    85.000000    85.000000    85.000000    85.073892

            FAMINCY1       FAMINCY2       FAMINCY3       FAMINCY4  \
count    5108.000000    5108.000000    5108.000000    5108.000000
mean    70922.991582   72472.788371   74354.691856   78985.396045
std     69172.128148   72911.519792   74774.682337   82482.567857
min    -20856.000000   -7853.000000   -6551.000000       0.000000
25%     22000.000000   22735.000000   22800.000000   23344.500000
50%     50000.000000   49332.000000   51780.500000   52500.000000
75%     96065.000000   98000.000000  100571.500000  107536.500000
max    524081.000000  698691.000000  663883.000000  682344.000000

          INSURCY1  ...      ERTOTY4      IPDISY1      IPDISY2      IPDISY3  \
count  5108.000000  ...  5108.000000  5108.000000  5108.000000  5108.000000
mean      2.212608  ...     0.198512     0.098865     0.079483     0.089859
std       1.533460  ...     0.596102     0.394070     0.363212     0.367506
min       1.000000  ...     0.000000     0.000000     0.000000     0.000000
25%       1.000000  ...     0.000000     0.000000     0.000000     0.000000
50%       2.000000  ...     0.000000     0.000000     0.000000     0.000000
75%       3.000000  ...     0.000000     0.000000     0.000000     0.000000
max       8.000000  ...     8.000000     6.000000     9.000000     5.000000

           IPDISY4        RXEXPY1        RXEXPY2        RXEXPY3  \
count  5108.000000    5108.000000    5108.000000    5108.000000
mean      0.088097    1638.173062    1875.970634    2169.325959
std       0.388889    7078.955159    9630.499312   11312.299643
min       0.000000       0.000000       0.000000       0.000000
25%       0.000000       0.000000       0.000000       0.000000
50%       0.000000      60.000000      42.500000      42.000000
75%       0.000000     605.250000     511.000000     520.250000
max       7.000000  158705.000000  381471.000000  329432.000000

             RXEXPY4         LONGWT
count    5108.000000    5108.000000
mean     2007.596907   63123.583577
std      8189.098721   57501.848045
min         0.000000    1248.249829
25%         0.000000   25809.878220
50%        41.000000   46595.043545
75%       565.750000   79733.140202
max    222842.000000  520577.070500

[8 rows x 38 columns]

ðŸ”¹ Long Format (After Transformation):

,DUPERSID,Year,LONGWT,Age,ER_Visits,Income,Insurance_Status,Hospital_Stays,Outpatient_Visits,Prescription_Costs,Total_Expenditure,Total_Self_Pay,Insurance_Group
0,2460002101,2019,25259.75789,74.0,0.0,13200.0,6.0,0.0,12.0,2394.0,19573.0,62.0,Public
1,2460002101,2020,25259.75789,75.0,0.0,15500.0,6.0,0.0,8.0,6503.0,15474.0,101.0,Public
2,2460002101,2021,25259.75789,76.0,0.0,10200.0,6.0,0.0,1.0,5590.0,14290.0,274.0,Public
3,2460002101,2022,25259.75789,77.0,0.0,22000.0,6.0,0.0,2.0,1602.0,15766.0,109.0,Public
4,2460006101,2019,78297.80420,61.0,0.0,46196.0,2.0,0.0,24.0,4235.0,26827.0,4494.0,Public

ðŸ”¹ Summary Statistics (After Transformation):
           DUPERSID          Year         LONGWT           Age     ER_Visits  \
count  2.043200e+04  20432.000000   20432.000000  20432.000000  20432.000000
mean   2.464977e+09   2020.500000   63123.583577     44.251960      0.208105
std    2.774919e+06      1.118061   57497.626228     23.127103      0.639793
min    2.460002e+09   2019.000000    1248.249829      0.000000      0.000000
25%    2.462574e+09   2019.750000   25809.878220     25.000000      0.000000
50%    2.465142e+09   2020.500000   46595.043545     46.000000      0.000000
75%    2.467407e+09   2021.250000   79733.140202     64.000000      0.000000
max    2.469683e+09   2022.000000  520577.070500     85.073892     21.000000

              Income  Insurance_Status  Hospital_Stays  Outpatient_Visits  \
count   20432.000000      20432.000000    20432.000000       20432.000000
mean    74183.966964          2.314017        0.089076           6.910092
std     75048.057540          1.599723        0.378687          13.575808
min    -20856.000000          1.000000        0.000000           0.000000
25%     22750.000000          1.000000        0.000000           0.000000
50%     50800.000000          2.000000        0.000000           3.000000
75%    100251.500000          3.000000        0.000000           8.000000
max    698691.000000          8.000000        9.000000         502.000000

       Prescription_Costs  Total_Expenditure  Total_Self_Pay
count        20432.000000       20432.000000    20432.000000
mean          1922.766641        7301.890368      822.326693
std           9192.240596       20157.832198     2808.748886
min              0.000000           0.000000        0.000000
25%              0.000000         252.750000        0.000000
50%             45.000000        1514.000000      124.000000
75%            555.250000        6015.750000      698.000000
max         381471.000000      779785.000000   112036.000000

ðŸ”¹ Unique Years in Transformed Data: [2019 2020 2021 2022]

ðŸ”¹ Number of Rows After Transformation: 20432

ðŸ”¹ Checking Total Expenditure & Income Before and After Transformation:
Before Transformation (Wide Format):
            TOTEXPY1       TOTEXPY2       TOTEXPY3       TOTEXPY4
count    5108.000000    5108.000000    5108.000000    5108.000000
mean     6857.292287    6948.003720    7802.124902    7600.140564
std     17362.512587   22767.527524   21876.688010   18069.937430
min         0.000000       0.000000       0.000000       0.000000
25%       335.000000     227.000000     244.750000     198.000000
50%      1622.000000    1297.500000    1533.500000    1572.500000
75%      6241.500000    5219.250000    6449.500000    6327.250000
max    544849.000000  779785.000000  770800.000000  269353.000000

After Transformation (Long Format):
       Total_Expenditure         Income
count       20432.000000   20432.000000
mean         7301.890368   74183.966964
std         20157.832198   75048.057540
min             0.000000  -20856.000000
25%           252.750000   22750.000000
50%          1514.000000   50800.000000
75%          6015.750000  100251.500000
max        779785.000000  698691.000000

ðŸ“‚ Transformed long-format dataset saved as: /content/meps19_22_long.csv

In [9]:
import numpy as np
import scipy.stats as stats
import itertools

#recreate income bins
income_bins = [0, 25000, 50000, 75000, 100000, float("inf")]
income_labels = ["Low (<25K)", "Lower-Middle (25K-50K)", "Middle (50K-75K)", "Upper-Middle (75K-100K)", "High (>100K)"]

df_pivot["Income_Group"] = pd.cut(df_pivot["Income"], bins=income_bins, labels=income_labels)

print(df_pivot["Income_Group"].value_counts())  # Verify that groups exist


# âœ… Function: Z-test for Two Means
def z_test_means(sample1, sample2):
    """
    Performs a two-sample Z-test for means.
    Inputs:
      - sample1: First sample (e.g., 2019 healthcare expenditures)
      - sample2: Second sample (e.g., 2020 healthcare expenditures)
    Returns:
      - Z-score and p-value
    """

    # Remove NaN values
    sample1 = sample1.dropna()
    sample2 = sample2.dropna()

    # Compute means and standard deviations
    mean1, mean2 = np.mean(sample1), np.mean(sample2)
    std1, std2 = np.std(sample1, ddof=1), np.std(sample2, ddof=1)
    n1, n2 = len(sample1), len(sample2)

    # Check for zero division error (avoid empty groups)
    if n1 == 0 or n2 == 0:
        print("One of the groups has no data. Skipping comparison.\n")
        return None, None

    # Compute standard error of the difference
    se_diff = np.sqrt((std1**2 / n1) + (std2**2 / n2))

    # Compute Z-score
    z_score = (mean1 - mean2) / se_diff

    # Compute p-value (two-tailed test)
    p_value = 2 * (1 - stats.norm.cdf(abs(z_score)))

    # Print results
    print(f"Comparing: Mean1 = {mean1:.2f}, Mean2 = {mean2:.2f}")
    print(f"Z-score: {z_score:.4f}, p-value: {p_value:.4f}")

    if p_value < 0.05:
        print("Significant difference detected!\n")
    else:
        print("No significant difference.\n")

    return z_score, p_value

# Year-to-Year Expenditure Comparisons
print("\ Z-Tests for Yearly Differences in Total Expenditures:\n")
years = [2019, 2020, 2021, 2022]

for i in range(len(years) - 1):
    year1, year2 = years[i], years[i + 1]
    sample1 = df_pivot[df_pivot["Year"] == year1]["Total_Expenditure"]
    sample2 = df_pivot[df_pivot["Year"] == year2]["Total_Expenditure"]
    print(f"Z-test for {year1} vs. {year2}:")
    z_test_means(sample1, sample2)

# Income Group Comparisons
print("\ Z-Tests for Income Group Differences in Total Expenditures:\n")

income_groups = df_pivot["Income_Group"].dropna().unique()

for g1, g2 in itertools.combinations(income_groups, 2):
    sample1 = df_pivot[df_pivot["Income_Group"] == g1]["Total_Expenditure"]
    sample2 = df_pivot[df_pivot["Income_Group"] == g2]["Total_Expenditure"]

    print(f"Z-test for {g1} vs. {g2}:")
    z_test_means(sample1, sample2)

# Insurance Group Comparisons
print("\ Z-Tests for Insurance Group Differences in Total Expenditures:\n")

insurance_groups = df_pivot["Insurance_Group"].dropna().unique()

for g1, g2 in itertools.combinations(insurance_groups, 2):
    sample1 = df_pivot[df_pivot["Insurance_Group"] == g1]["Total_Expenditure"]
    sample2 = df_pivot[df_pivot["Insurance_Group"] == g2]["Total_Expenditure"]

    print(f"Z-test for {g1} vs. {g2}:")
    z_test_means(sample1, sample2)

Income_Group
High (>100K)               5139
Low (<25K)                 4818
Lower-Middle (25K-50K)     4459
Middle (50K-75K)           2927
Upper-Middle (75K-100K)    2242
Name: count, dtype: int64
\ Z-Tests for Yearly Differences in Total Expenditures:

Z-test for 2019 vs. 2020:
Comparing: Mean1 = 6857.29, Mean2 = 6948.00
Z-score: -0.2264, p-value: 0.8209
No significant difference.

Z-test for 2020 vs. 2021:
Comparing: Mean1 = 6948.00, Mean2 = 7802.12
Z-score: -1.9333, p-value: 0.0532
No significant difference.

Z-test for 2021 vs. 2022:
Comparing: Mean1 = 7802.12, Mean2 = 7600.14
Z-score: 0.5088, p-value: 0.6109
No significant difference.

\ Z-Tests for Income Group Differences in Total Expenditures:

Z-test for Low (<25K) vs. Lower-Middle (25K-50K):
Comparing: Mean1 = 9278.63, Mean2 = 6447.21
Z-score: 6.6764, p-value: 0.0000
Significant difference detected!

Z-test for Low (<25K) vs. High (>100K):
Comparing: Mean1 = 9278.63, Mean2 = 6849.00
Z-score: 5.9708, p-value: 0.0000
Significant difference detected!

Z-test for Low (<25K) vs. Middle (50K-75K):
Comparing: Mean1 = 9278.63, Mean2 = 6984.22
Z-score: 4.5708, p-value: 0.0000
Significant difference detected!

Z-test for Low (<25K) vs. Upper-Middle (75K-100K):
Comparing: Mean1 = 9278.63, Mean2 = 6498.35
Z-score: 5.9317, p-value: 0.0000
Significant difference detected!

Z-test for Lower-Middle (25K-50K) vs. High (>100K):
Comparing: Mean1 = 6447.21, Mean2 = 6849.00
Z-score: -0.9646, p-value: 0.3348
No significant difference.

Z-test for Lower-Middle (25K-50K) vs. Middle (50K-75K):
Comparing: Mean1 = 6447.21, Mean2 = 6984.22
Z-score: -1.0534, p-value: 0.2922
No significant difference.

Z-test for Lower-Middle (25K-50K) vs. Upper-Middle (75K-100K):
Comparing: Mean1 = 6447.21, Mean2 = 6498.35
Z-score: -0.1072, p-value: 0.9146
No significant difference.

Z-test for High (>100K) vs. Middle (50K-75K):
Comparing: Mean1 = 6849.00, Mean2 = 6984.22
Z-score: -0.2728, p-value: 0.7850
No significant difference.

Z-test for High (>100K) vs. Upper-Middle (75K-100K):
Comparing: Mean1 = 6849.00, Mean2 = 6498.35
Z-score: 0.7592, p-value: 0.4478
No significant difference.

Z-test for Middle (50K-75K) vs. Upper-Middle (75K-100K):
Comparing: Mean1 = 6984.22, Mean2 = 6498.35
Z-score: 0.8875, p-value: 0.3748
No significant difference.

\ Z-Tests for Insurance Group Differences in Total Expenditures:

Z-test for Public vs. Private:
Comparing: Mean1 = 10121.86, Mean2 = 5353.00
Z-score: 15.9689, p-value: 0.0000
Significant difference detected!

Z-test for Public vs. Uninsured:
Comparing: Mean1 = 10121.86, Mean2 = 1439.02
Z-score: 27.5085, p-value: 0.0000
Significant difference detected!

Z-test for Private vs. Uninsured:
Comparing: Mean1 = 5353.00, Mean2 = 1439.02
Z-score: 14.2839, p-value: 0.0000
Significant difference detected!